<img src="/assets/edited home page.jpg"
width="1375px"
height="600px"
alt="">



<h5 class="ml-5 mt-5 " style="font-style:bold;">OUR PRIORITY</h5>
<div class="row  mt-4 ml-5">
<div class="col-sm-6 ">
<img src="/assets/prority.jpg" alt="prioty" height="300px" width="500px">
  </div>
  <div class="col-sm-6 text-left">
<p>Developing the potential of our professionals and ensuring their 
  satisfaction are top priorities at MMS. One of our key success factors is the
   talent of the people who join our team. MMS invests in comprehensive 
   learning and development programs to ensureour members build and
    increase the skills they need to respond to client’s evolving digital needs
     and progress toward their career aspirations.
     We provide opportunities and resources to help members continually 
     learn, and we support them in mapping out a customized learning journey.
    </p>
  </div>
</div>


<h5 class="ml-5 mt-5" style="font-style:bold;">LEARNING OPPORTUNITIES</h5>
<div class=" row ml-5 mt-4 ">
  <div class="col-sm-6">
    <img src="/assets/numbers.jpg" alt="" height="300px" width="500px"> 
    <h6 class="mt-3 text-info" >Annual career development planning</h6>
    <p>MMS is committed to guiding you on your career path and providing the 
      support you need to fulfill your career goals. Our annual career development 
      planning process gives you an opportunity to share your career aspirations 
      with your manager and discuss the best course for getting you to where you
       want to be. Your career development plan is continuously updated based on
        your specific career objectives, as well as MMS’s business needs.
      </p>
</div>
<div class="col-sm-6">
  <img src="/assets/employee.jpg" alt="" height="300px" width="500px">
  <h6 class="mt-3 text-info">Knowledge sharing</h6>
  <p>MMS’s communication and collaboration platform allows you to connect with
     colleagues across the globe to share knowledge, discuss ideas, solve
      problems, reuse intellectual property assets, exchange lessons learned and
       much more. It’s a vital tool for increasing your expertise of MMS’s technology
        practices, industry domains, clients, and services and solutions.
      </p>
</div>
</div>

<div class=" row ml-5 mt-4 ">
  <div class="col-sm-6">
    <img src="/assets/leadershp.jpg" alt="" height="300px" width="500px"> 
    <h6 class="mt-3 text-info">CGI Leadership Institute</h6>
    <p>A wide variety of learning opportunities are provided through the MMS 
       Institute to help you continuously develop your leadership 
       abilities and enhance your knowledge in your area of expertise.
       </p>
</div>
<div class="col-sm-6">
  <img src="/assets/lapi.jpg" alt="" height="300px" width="500px">
  <h6 class="mt-3 text-info">On-demand learning tools</h6>
  <p>All MMS professionals have access to a wide range of online learning
     solutions designed to support their professional development and career
      plans. The learning is available around the clock and covers a vast array of
       business and IT topics through online courses, videos, books, certification
        resources, and much more.
      </p>
</div>
</div>


